---
body_id: welcome-programs
---

<div data-stellar-background-ratio="0.2" id=programs-header  class="dark solutions solutions-header">
<div class="container body-container">

<h1 class=hero style="margin-bottom: 0px;">Programs that Patients Love.</h1>
<p class=hero-sub-3>CareMessage creates highly engaging text messaging campaigns to improve health literacy and disease self&ndash;management skills for diverse populations.</p>
</div>
</div>

<div class="solutions-body" id="programs-body">
<div class="container dark">

<div class="row extra-space">
	<div class="col-xs-4">
	<%= image_tag("solutions-caregiver.png", class: "hero-sub") %>
	<h3 class=hero>Support</h2>
	<p>Guide patients through the<br/> process of managing a difficult<br/> chronic health condition.</p>
	</div>

	<div class="col-xs-4">
	<%= image_tag("solutions-education.png", class: "hero-sub") %>
	<h3 class=hero>Educate</h2>
	<p>Provide patients with individualized educational programs tailored<br/> to their current health needs.</p>
	</div>

	<div class="col-xs-4">
	<%= image_tag("programs-activate.png", class: "hero-sub") %>
	<h3 class=hero>Activate</h2>
	<p>Help patients create long-lasting<br/> habits by guiding them through<br/>challenging first steps.</p>
	</div>

</div> <!--.row-->




</div>
</div>


<div id=programs-1>
<div class="container light">

<h1 class=hero style="margin-bottom: 0px;">Quality <i>and</i> Quantity.</h1>
<h1 class=hero-grey>Handcrafted programs. For Everyone.</h1>
	<p class=hero-sub-3>CareMessage programs are designed with the specific challenges of each condition in mind. Use one of our handcrafted programs below, or create your own.</p>

<div class="row extra-space">
	<div class=col-sm-2 style="margin-left: 8.33333333333%">
		<ul class=conditions-list>
			<li class=title>Behavior Change</li>
			<li>Nutrition</li>
			<li>Smoking Cessation</li>
			<li>Goal Setting</li>
			<li>Medication Management</li>
		</ul>
	</div>

	<div class=col-sm-2>
		<ul class=conditions-list>
			<li class=title>Chronic Disease</li>
				<li>Hypertension</li>
				<li>Congestive Heart Failure</li>
				<li>COPD</li>
				<li>High Cholesterol</li>
				<li>Type I Diabetes</li>
				<li>Type II Diabetes</li>
				<li>Obesity</li>
				<li>HIV</li>
				<li>Asthma</li>
				<li>Substance Abuse</li>
		</ul>
	</div>

	<div class=col-sm-2>
		<ul class=conditions-list>
			<li class=title>Women's Health</li>
				<li>Postpartum Depression</li>
				<li>Gestational Depression</li>
				<li>Gestational Diabetes</li>
				<li>Gestational High Blood Pressure</li>
				<li>Maternal Health & Pregnancy</li>
				<li>Breastfeeding</li>
		</ul>
	</div>

	<div class=col-sm-2>
		<ul class=conditions-list>
			<li class=title>Pediatric Health</li>
				<li>Childhood Obesity</li>
				<li>Teen Obesity</li>
				<li>Teen Pregnancy</li>
		</ul>
	</div>

	<div class=col-sm-2>
		<ul class=conditions-list>
			<li class=title>Mental Haealth</li>
				<li>Stress Management</li>
				<li>Anxiety Management</li>
				<li>Coping with Chronic Disease</li>
				<li>Depression Management</li>
		</ul>
	</div>
</div><!--.row-->


</div> <!--.container -->

</div> <!--.programs-1-->

<div id=sample-hero>
<div class="container dark">
<h1 class=hero>Discover a Sample Program</h1>
<p class=hero-sub-3>Patient Centric. Multilingual. Gamified. See two of our sample programs below.</p>
<div class="row sample-container">
<div class="col-xs-5 col-xs-offset-1">
	<h2 class=hero>Type 2 Diabetes</h3>
			<ul class="nav nav-pills">
	  <li class=active><a href="#diabetes-english" data-toggle="tab">EN</a></li>
	  <li><a href="#diabetes-spanish" data-toggle="tab">SP</a></li>
	</ul>
	<div class=sweettalk-container>
	<div class=iphone-msg-container>
	<div class="tab-content">
	  <div class="tab-pane fade in active" id="diabetes-english">
		
		<ul class=iphone-conversation>
		<li><div class=sender>When was the last time you had a foot exam by your doctor? A) 1-3 months B) 3-6 months C) 6-9 months D) 9-12 months E) I don't know</div></li>
		<li><div class=myself>C</div></li>

		<li><div class=sender>What kind of feedback did you get? A) All good B) Failed Visual Inspection C) Poor Circulation, D) Failed Sensation Test.</div></li>
		<li><div class=myself>C</div></li>

		<li><div class=sender>Since then, have you been performing regular foot exams at home? This can help you watch for the early signs of foot disease from diabetes.</div></li>
		<li><div class=myself>No</div></li>

		<li><div class=sender>You should look between your toes for A) cuts or sores B) Loss of sensation C) Change in color D) signs of infection. Have you noticed any of these?</div></li>
		<li><div class=myself>Yes, C</div></li>

		<li><div class=sender>Make sure to bring this up the next time you visit your doctor. Have you scheduled your next appointment?</div></li>
		<li><div class=myself>Yes</div></li>

		</ul>
	  </div><!-- .english -->

	  <div class="tab-pane fade" id="diabetes-spanish">

	  	<ul class=iphone-conversation>
		<li><div class=sender>&iquest;Cuanto d&iacute;as quiere caminar? Responda con el n&uacute;mero.</div></li>
		<li><div class=myself>5</div></li>

		<li><div class=sender>&iquest;Cuanto minutos por d&iacute;a? Responda con el n&uacute;mero.</div></li>
		<li><div class=myself>20</div></li>

		<li><div class=sender>&iexcl;Muy Bien! Le vamos a recordar que salga a caminar. Hacer ejercicio le puede dar mas energ&iacute;a durante el d&iacute;a.</div></li>

		<li><div class=sender>Buenas tardes Don Jose, &iquest;sali&oacute; a caminar hoy? Responda SI o NO</div></li>
		<li><div class=myself>Si</div></li>

		<li><div class=sender>&iexcl;Que bueno! &iquest;Cuantos minutos camin&oacute;? Responda con el n&uacute;mero.</div></li>
		<li><div class=myself>30</div></li>

		<li><div class=sender>&iexcl;Mas de lo que dijo! &iquest;C&oacute;mo se sinti&oacute;? A) Muy bien B) Un poco cansado C) No pod&iacute;a respirar bien D) No Pude terminar</div></li>

	  </div> <!-- .spanish -->
	</div> <!--.tab-content -->

	</div> <!--.iphone-msg-container -->

	</div> <!--.sweettalk-container -->

	<p class="hero-sub-sample">SugarTalk and PlaticaDulce are year-long programs that comprise shorter 4-6 week long modules addressing topics most relevant to type 2 diabetics, such as properly injecting insulin, recognizing high or low blood glucose or avoiding culturally-specific foods that tend to increase blood glucose. The programs are tailored to various factors, including disease progression, age, gender, ethnicity, and cultural preferences.</p>

	</div> <!--.col-xs-5 -->

	<div class=col-xs-5>
	<h2 class=hero>Hypertension</h3>
			<ul class="nav nav-pills">
	  <li class=active><a href="#heart-english" data-toggle="tab">EN</a></li>
	  <li><a href="#heart-spanish" data-toggle="tab">SP</a></li>
	</ul>
	<div class=program-2-container>
	<div class=iphone-msg-container>
	<div class="tab-content">
	  <div class="tab-pane fade in active" id="heart-english">

		<ul class=iphone-conversation>
		<li><div class=sender>How did you feel when you found out you have high blood pressure? A)Stress B)Confused C)Motivated to get better D)Other feeling </div></li>
		<li><div class=myself>B</div></li>

		<li><div class=sender>Feeling confused is normal. High blood pressure is a health condition that you can control with some lifestyle changes. We are here to help!</div></li>

		<li><div class=sender>Do you think that everyone who has high blood pressure knows they have it? Text YES or NO</div></li>
		<li><div class=myself>Yes</div></li>

		<li><div class=sender>High blood pressure is sometimes called the silent killer. Many people do not know their pressure is high because they do not feel sick from it.</div></li>

		<li><div class=sender>Which of these is ok to have right before your next doctor's appointment? A)Coke B)Food C)Water</div></li>
		<li><div class=myself>C</div></li>

		<li><div class=sender>Yes! Don't drink caffeine or alcohol and don't eat 30 min before your doctor's appointment. It can give the wrong blood pressure readings.</div></li>

		</ul>
	  </div><!-- .english -->

	  <div class="tab-pane fade" id="heart-spanish">

	  	<ul class=iphone-conversation>
		<li><div class=sender>Como se sintio cuando le dijieron que tiene la presion alta?A)Estres B)Confusion C)Motivacion para mejorar su salud D)Otro sentimiento </div></li>
		<li><div class=myself>B</div></li>

		<li><div class=sender>Sentir confusion es normal. La presion alta es una condicion que puede controlar con unos cambios a su estilo de vida. Estamos aqui para ayudarle!</div></li>

		<li><div class=sender>Cree que todas las personas que tienen la presion alta saben que tienen esta condicion? Responda SI o NO</div></li>
		<li><div class=myself>Si</div></li>

		<li><div class=sender>La presion alta es aveces llamado el asesino silencioso. Muchas personas no saben que tienen la presion alta porque no se sienten enfermos.</div></li>

		<li><div class=sender>Cual de estos puede tomar o comer justo antes de su cita con el doctor? A)Soda B)Comida C)Agua</div></li>
		<li><div class=myself>C</div></li>

		<li><div class=sender>Si! No tome nada con cafeina y no coma 30 minutos antes de su cita. Esto puede hacer que no salga bien su numero de la presion.</div></li>

	  	</ul>
	  </div> <!-- .spanish -->
	</div> <!--.tab-content -->

	</div> <!--.iphone-msg-container -->

	</div> <!--.sweettalk-container -->


	<p class="hero-sub-sample">Heart2Heart and DeCoraz&oacute;n are year-long programs that, like our diabetes programs, cover topics most relevant to hypertensives, such as checking blood pressure, reducing sodium intake, increasing exercise, or properly taking medication. The programs are meant to help support and motivate patients as they make lifestyle changes.
</p>

	</div>

	</div><!--.row -->
<hr/>
	<h1 class=hero>Programs handcrafted for <i>your</i> patient.</h1>

<div class="row">
	<div class="col-xs-6">
	<h3 class=hero>Patient Attitude</h2>
	<p class=other-features-caption>Address cultural barriers to accepting a diagnosis and help patients self-actualize and understand factors that motivate them to change their behaviors.</p>
	</div>

	<div class="col-xs-6">
	<h3 class=hero>Medical Terms, Simplified</h2>
	<p class=other-features-caption>Enable patients to understand difficult medical concepts, such as the relationship between glucose and insulin.</p>
	</div>

</div> <!--.row-->

<div class="row">
	<div class="col-xs-6">
	<h3 class=hero>Test Results</h2>
	<p class=other-features-caption>Help patients understand the significance of their test results, such as HbA1C and cholesterol, and remind them when they're due for their next checkup.</p>
	</div>

	<div class="col-xs-6">
	<h3 class=hero>Self Management</h2>
	<p class=other-features-caption>Teach patients to self-manage various aspects of their condition, such as conducting regular foot exams at home.</p>
	</div>

</div> <!--.row-->

<div class="row">
	<div class="col-xs-6">
	<h3 class=hero>Remote Monitoring</h2>
	<p class=other-features-caption>Remind patients to measure blood glucose and other metrics regularly, and allow them to text and store these numbers in a secure database.</p>
	</div>

	<div class="col-xs-6">
	<h3 class=hero>Flexible Engagement</h2>
	<p class=other-features-caption>Patients can be enrolled in the entire year-long program or any of the shorter 4-6-week-long modules.</p>
	</div>

</div> <!--.row-->


</div>
</div> <!--.homepage-1-->
<div id='platform-module'>

	<div class=container>
	<div class=row>
	<div class=col-xs-7>
		<%= image_tag("empower-2014.png", class: "hero-product-footer") %>
	</div><!--.col-xs-5-->
	<div class=col-xs-5>
		<%= image_tag("plug-and-play.png", class: "hero-footer") %>
		<h1 class="hero">Plug and Play Platform</h1>
		<p class="hero-sub-3">Our web-based platform runs on our secure, HIPAA-compliant cloud, and is compatible with all internet-enable devices. Because CareMessage is easy to use and doesn't require any installation or special configuration, your team can spend less time on IT, and more time focused on patients.</p>
		<a class="video-hero-call" href="/platform">View Platform</a>
	</div><!--.row-->

	</div> <!--.container-->

</div>
</div>


<div class="call-to-action-footer">
<div class=container>
<div class="call-to-action-caption">Supercharge your patient engagement. <a class="open-contact call-to-action contact">Request a Demo</a></div>
</div>
</div>