---
body_id: welcome-platform
---

<div id=product-1 class=dark>
<div class="container body-container">

	<h1 class=hero>Mission Control for Care Management.</h1>
	<p class=hero-sub-3>Simplify care management and connect with your patients through text and voice messaging.</p>

	<%= image_tag("product-hero.png", class: "hero-product") %>



	<div class=row id=product-1-sub>
	<div class="col-xs-4">
	<%= image_tag("solutions-outreach.png", class: "hero-sub") %>
	<h2 class=hero-sub>Inform</h2>
	<p class=caption>Automate reminders and followups<br/>to simply your workflow.</p>
	</div>
	<div class="col-xs-4">
	<%= image_tag("solutions-connect.png", class: "hero-sub") %>
	<h2 class=hero-sub>Connect</h2>
	<p class=caption>Have interactive and personalized dialogues with many patients at once.</p>
	</div>
	<div class="col-xs-4">
	<%= image_tag("solutions-caregiver.png", class: "hero-sub") %>
	<h2 class=hero-sub>Empower</h2>
	<p class=caption>Engage high risk patients with behavior change programs that work.</p>
	</div>



	</div>


</div>


</div> <!--.product-1-->

<div id=product-2 class=light>
<div class=container>
	<%= image_tag("platform_cloud.png", class: "hero-above") %>
	<h1 class=hero>A  Secure Cloud-Based Platform</h1>
	<p class=hero-sub-3>No software to install, no computer expertise to get started, no servers or IT management to worry about. Access our secure platform from any device with an internet connection.</p>
	<%= image_tag("app-cloud.png", class: "hero-product") %>
	<p class=hero-product-caption><strong>No Compromise.</strong> The same great user experience carries over from desktop to mobile.</p>

<hr/>


	<%= image_tag("centralized.png", class: "hero-above") %>
	<h1 class=hero>Centralized Care Management</h1>
	<p class=hero-sub-3>Manage groups, appointments, and events with the click of a button.</p>
	<div class=product-tabs>

	<ul class="nav nav-pills">
	  <li class=active><a href="#groups" data-toggle="tab">Groups</a></li>
	  <li><a href="#appointments" data-toggle="tab">Appointments</a></li>
	  <li><a href="#events" data-toggle="tab">Events</a></li>
	</ul>

	<div class="tab-content">
	  <div class="tab-pane fade in active" id="groups">
		<div class=truncate><%= image_tag("product-group.png", class: "hero-product") %></div>
		<p class=hero-product-caption>Categorize all of your patients into distinct groups based on shared characteristics - such as a common disease/condition or a common meeting time - making for easy outreach later.</p>
	  </div>
	  <div class="tab-pane fade" id="appointments">
		 <div class=truncate><%= image_tag("product-appts.png", class: "hero-product") %></div>
		<p class=hero-product-caption>View all your upcoming appointments, see who&#8217;s coming and who isn&#8217;t, and save attendance all from one easy interface. Use automated text and voice reminders to reduce no-shows and collect RSVPs. </p>
	  </div>
	  <div class="tab-pane fade" id="events">
		   <div class=truncate><%= image_tag("product-events.png", class: "hero-product") %></div>
		<p class=hero-product-caption>Finally, an easy way to manage diabetes classes, teen pregnancy workshops and other ongoing events with your healthcare organization. Improve program attendance rates by sending out automated reminders for upcoming events to all attendees with the click of a button, automatically collect RSVPs to see who&#8217;s coming and save attendance.</p>
	  </div>

	  </div>
	</div><!-- .product-tabs -->

<hr/>


	<%= image_tag("supercharge.png", class: "hero-above") %>
	<h1 class=hero>Patient Engagement, Supercharged</h1>
	<p class=hero-sub-3>Create automated, interactive, and engaging conversations via text and voice messaging with thousands of patients. Use our evidence-based disease management <a href="/programs">programs</a> to educate and empower your patients.</p>

		<div class=product-tabs>

	<ul class="nav nav-pills">
	  <li class=active><a href="#streams" data-toggle="tab">Educational Programs</a></li>
	  <li><a href="#messenger" data-toggle="tab">Messenger</a></li>
	</ul>

	<div class="tab-content">
	  <div class="tab-pane fade in active" id="streams">
		<div class=truncate><%= image_tag("product-stream.png", class: "hero-product") %></div>
		<p class=hero-product-caption>Enroll all of your patients in our powerful, evidence-based health education programs that replicate the experience of interacting with a live health coach. Automatically collect engagement and self-reported data on patient progress in-between visits, save valuable time and human resources and improve overall patient satisfaction.</p>
	  </div>
	  <div class="tab-pane fade" id="messenger">
		 <div class=truncate><%= image_tag("product-messenger.png", class: "hero-product") %></div>
		<p class=hero-product-caption>Say no to time-consuming phone calls. Instantly communicate with your patients with messenger. Our platform saves all incoming responses - just like an email inbox - so you can reply whenever you want, wherever you want.</p>
	  </div>

	  </div>
	</div><!-- .product-tabs -->

<hr/>


<div class=row>
	<div class="col-xs-6">
	<%= image_tag("data.png", class: "sub-hero-above") %>
	<h2 class=hero>Data at your Fingertips</h2>
	<p class=other-features-caption>Collecting answers to a Health Risk Assessment, sending out a post-appointment satisfaction survey, or collecting post-evaluation feedback has never been easier. Do all of this and more with no programming expertise required, and use our powerful analytics engine to easily quantify both engagement and self-reported data.</p>
	</div>

	<div class="col-xs-6">
	<%= image_tag("integrate.png", class: "sub-hero-above") %>
	<h2 class=hero>Integration</h2>
	<p class=other-features-caption>We know how important having a seamless flow of information is to you, and our primary goal is to help improve your workflow, not overcomplicate it. That&#8217;s why we will work with you to figure out the most optimal data transfer and/or integration strategies to get you up and running with the minimal effort.</p>
	</div>

</div> <!--.row-->

</div>
</div> <!--.product-2 -->
<div id=mobile-module>	<p class=module><a href="/mobile">Learn more about why we bet on mobile outreach &#8250;</a></p>

</div>

<div class="call-to-action-footer">
<div class=container>
<div class="call-to-action-caption">Supercharge your patient engagement.</div>
<div class="call-to-action-button"><a class="open-contact call-to-action contact">Request a Demo</a></div>
</div>
</div>