---
body_id: welcome-index
---

<div id=homepage-1>
	<video controls="false" autoplay="true" class="homepage-video" autoplay="true" loop="true">
	  <source src="/videos/homepage-video.mp4" type="video/mp4"/>
	  <source src="/videos/homepage-video.webm" type="video/webm"/>
	  <div class="homepage-video">&nbsp;</div>
	</video>
	<div id="mobile-video" class="homepage-video hidden">&nbsp;</div>
	<div class=hero-video-overlay>
	<div class=hero-video-overlay-inner>
	<div class=hero-video-overlay-inner-2>
	<h1 class=video-hero>Care, Better, Together.</h1>
	</div>
	</div>
	</div>
</div> <!--.homepage-1-->




<div id=homepage-2 class=light>
<div class=container>
<h1 class=hero>Empower at-risk patients to become better healthcare consumers.</h1>
<p class=hero-sub-3>CareMessage<sup>TM</sup> offers healthcare organizations a powerful <a href="/platform/">web platform</a> to streamline care management and interactive <a href="/programs/">mobile programs</a> to improve health outcomes.</p>
<div class="row extra-space">
	<div class="col-xs-4">
	<%= image_tag("home-cloud.png", class: "hero-above") %>
	<h3 class=hero>Streamlined Engagement</h3>
	<p class=other-features-caption>Automate population outreach through text and voice messaging, and save valuable time calling and following up.</p>

	</div>

		<div class="col-xs-4">
	<%= image_tag("home-message.png", class: "hero-above") %>
	<h3 class=hero>Tailored Messaging</h3>
	<p class=other-features-caption>Address the chronic disease burden through evidence-based programs designed for the hardest to manage.</p>

	</div>

	<div class="col-xs-4">
	<%= image_tag("home-network.png", class: "hero-above") %>
	<h3 class=hero>Robust Care Network</h3>
	<p class=other-features-caption>Strengthen the bonds between patients and their care family, including providers, payers and caregivers.</p>

	</div>

</div> <!--.row-->



<hr/>
<div class="row supporters">
<div class="col-xs-2"><%= image_tag("gs-logo.png", class: "supporter-logo") %></div>
<div class="col-xs-2"><%= image_tag("pf-logo.jpg", class: "supporter-logo") %></div>
<div class="col-xs-2"><%= image_tag("yc-logo.png", class: "supporter-logo") %></div>
<div class="col-xs-2"><%= image_tag("su-logo-text.png", class: "supporter-logo") %></div>
<div class="col-xs-2"><%= image_tag("hf-logo.png", class: "supporter-logo") %></div>
<div class="col-xs-2"><%= image_tag("eg-logo.jpg", class: "supporter-logo") %></div>

</div>


</div>

</div> <!--.homepage-3-->


<div class="call-to-action-footer">
<div class=container>

<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://CareMessage.us3.list-manage2.com/subscribe/post?u=ff43f514c557ac93a67cf948f&amp;id=6c0bde44aa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<div class="call-to-action-caption">Keep in touch with our latest products and programs.</div>
	<div class=row>
	<div class=col-xs-10>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
	</div>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_ff43f514c557ac93a67cf948f_6c0bde44aa" value=""></div>
    <div class=col-xs-2>
	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
	</div> <!--.row-->
</form>
</div>

<!--End mc_embed_signup-->

</div>
</div>