---
body_id: team
---

<div data-stellar-background-ratio="0.2" id=team-hero class="dark solutions solutions-header">
<div class="container body-container">

<h1 class=hero style="margin-bottom:0px;">Our Team</h1>
<p class=hero-sub-3>We are Engineers. Physicians. Designers. Scientists. Together, we're working to bring mobile health technology to the underserved.</p>
</div>
</div>

<div class="light container" id="team-container">

<h1 class="hero-left"><strong>Product Development</strong></h1>

<div class=row>

<div class=col-xs-5>
<div class=tab-content>

<div class="tab-pane active fade in" id="home">
<h2 class=about-description>The product team leverage their expertise in the fields of software development, design, and public health to create our technology platform and disease self-management programs.</h2>
<p class=about-sub>Click on a picture to learn more about each team member.</p>
</div>

<div class="tab-pane fade" id="deepak-bio">
<h2 class=about>Deepak Kothule</h2>
<h3 class=title>Vice President of Engineering</h3>
<p class=bio>Deepak has over 20+ years of software engineering experience, including 10+ years of engineering management. Most recently, Deepak served as the Vice President of Engineering at TigerText, a HIPAA-compliant secure messaging application for hospitals. Before TigerText, Deepak led engineering management teams at Symantec (NASDAQ:SYMC) and Salesforce (NYSE:CRM), where he lead the development of products like Norton Internet Security and Salesforce Mobile, Chatter. Deepak holds an MBA in Technology Management and Bachelors in Computer Science.</p>
</div>

<div class="tab-pane fade" id="cecilia-bio">
<h2 class=about>Cecilia Corral</h2>
<h3 class=title>Vice President of Product<br/>Co-Founder</h3>
<p class=bio>Cecilia oversees all aspects of product development, including the core CareMessage application and associated disease management content. She works with partner organizations and patients to design, test and refine CareMessage products. She is proficient in the process of human-centered design pioneered by the Hasso Plattner Institute of Design (d.school) at Stanford University, where she graduated with a degree in Product Design Engineering. A native Spanish speaker who grew up in South Texas and Mexico, Cecilia helps ensure that all CareMessage programs accommodate the cultural and linguistic needs of our minority patients.</p>
</div>

<div class="tab-pane fade" id="daniel-bio">
<h2 class=about>Daniel Naves</h2>
<h3 class=title>Engineering Manager</h3>
<p class=bio>Daniel is a full stack software engineer with over 10 years of experience, and has expertise in Ruby on Rails, Javascript, HTML, CSS, Git, SASS, and HAML. He has previously built multiple web and mobile platforms for both startups and Fortune 500 companies, and loves working on important projects that can have a significant impact.</p>
</div>

<div class="tab-pane fade" id="patricia-bio">
<h2 class=about>Patricia Sanchez, MPH</h2>
<h3 class=title>Director of Content</h3>
<p class=bio>Patricia helps develop many of CareMessage's programs, especially those focused on childhood and adolescence health issues. She comes to the organization with a passion to improve health literacy among low income populations. She has over 8 years of experience creating health education materials that are both culturally and low literacy appropriate.  She has worked with a Medi-Cal managed care population at the Contra Costa Health Plan, and holds a Masters in Public Health (MPH) from San Diego State University.</p>
</div>

<div class="tab-pane fade" id="karen-bio">
<h2 class=about>Karen Finch, MD</h2>
<h3 class=title>Health Content Specialist, Mental Health</h3>
<p class=bio>Karen helps in the development of CareMessage's mental health specific programs through targeted clinical consultation. She is passionate about making mental health tools more accessible to larger populations and integrating mental health care more seamlessly into primary care. Karen is currently finishing her fellowship in Child & Adolescent Psychiatry at the University of California, San Francisco (UCSF). She completed her undergraduate work at the University of California, Los Angeles (UCLA) in Spanish Literature, and completed both medical school and General Adult Psychiatry Residency at UCSF.</p>
</div>

<div class="tab-pane fade" id="bruno-bio">
<h2 class=about>Bruno Campos</h2>
<h3 class=title>Software Engineer</h3>
<p class=bio>Bruno is a full stack software engineer with a specialized expertise in front-end web development. He has over a decade of experience, which includes expertise in HTML5, Ruby on Rails, Javascript, AngularJS, JQuery etc. </p>
</div>

<div class="tab-pane fade" id="ronaldo-bio">
<h2 class=about>Ronaldo Raivil</h2>
<h3 class=title>Software Engineer</h3>
<p class=bio>Ronaldo is a full stack software engineer with extensive expertise in back-end development. Ronaldo is a self-learner that is driven by results, and brings over a decade of experience to the team. He is proficient in Ruby, Java, SQL and NoSQL databases, application servers and integrations.</p>
</div>

<div class="tab-pane fade" id="aareet-bio">
<h2 class=about>Aareet Shermon</h2>
<h3 class=title>Quality Assurance Engineer</h3>
<p class=bio>Aareet is a quality engineer who is passionate about working on meaningful projects. He studied Nanotechnology Engineering at the University of Waterloo in Canada, has worked on prototyping an anti-cancer drug delivery system and has worked at software companies big and small.</p>
</div>

<div class="tab-pane fade" id="nicco-bio">
<h2 class=about>Nicco Turner, MA</h2>
<h3 class=title>Health Content Specialist, Chronic Disease Management</h3>
<p class=bio>Nicco helps to write and customize culturally relevant messages for Care Message’s users based on cultural relevance, community needs, and trends at an appropriate literacy level.  She comes to the organization with a passion for health and wellness.  She has over 10 years of experience in social services and health education working with diverse populations.  She hopes to empower and motivate people to make positive health changes that will change their lives.  She has worked as a health coach and a natural chef.  Most recently, she has worked with a partnership between a non-profit and a county health care system to help facilitate patient group visits, develop culturally appropriate curriculums, and train new staff around group facilitation.  She holds a Masters in Holistic Health Education from John F. Kennedy University.</p>
</div>

<div class="tab-pane fade" id="renan-bio">
<h2 class=about>Renan Campos</h2>
<h3 class=title>Software Engineer</h3>
<p class=bio>Renan is a full stack software engineer with expertise in Ruby, Javascript, HTML and CSS. In his 8 years of professional experience, he worked in development of large scale web applications, and distributed / parallel back-end applications.</p>
</div>

<div class="tab-pane fade" id="ana-bio">
<h2 class=about>Ana Rosa</h2>
<h3 class=title>UX Researcher</h3>
<p class=bio>Ana delivers customer insights to our Content and Product Development team through user research. She works closely with our patients to discover usability issues and innovation opportunities in an effort to constantly evolve our product. A native Spanish speaker from Guatemala, she helps the content team craft and revise culturally conscious content to reach more users. Ana graduated with a degree in Product Design from Stanford University and is an active Gates Millennium Scholar alumna.</p>
</div>

<div class="tab-pane fade" id="rosalinda-bio">
<h2 class=about>Rosalinda Cortez</h2>
<h3 class=title>Product Associate</h3>
<p class=bio>Rosalinda focuses on supporting the product development process. Her goal is to continue developing our platform to fulfill valuable customer and patient needs. She graduated with a degree in Product Design Engineering from Stanford University where she previously worked as a Research Assistant for Stanford's Center for Design Research in the areas of education and rapid prototyping. Before joining CareMessage she worked in the medical device manufacturing industry. She strongly believes in facilitating progress and happiness for all and believes it begins with basic necessities such as healthcare and education.</p>
</div>

<div class="tab-pane fade" id="jillian-bio">
<h2 class=about>Jillian Faulks-Majuta</h2>
<h3 class=title>Health Content Specialist, African-American Community</h3>
<p class=bio>Jillian Faulks-Majuta contributes to the CareMessage team by creating and altering content geared towards the African-American population. She has a BA in African-American Studies from Temple University in addition to an MS in Nonprofit Management with a certificate in Organizational Development from The New School. Jillian is passionate about creating culturally specific medical information for the black community, especially as related to parenting and giving birth.  As a doula and childbirth educator, she is determined to contribute to changing the birth outcomes in the black community.</p>
</div>

<div class="tab-pane fade" id="sara-bio">
<h2 class=about>Sara Myers</h2>
<h3 class=title>Health Content Specialist, Primary Care</h3>
<p class=bio>Sara is part of our health content team and helps create messages related to asthma, HIV and other disease management programs. Sara is passionate about improving and establishing the highest quality of life for patients and their caregiver. Prior to joining CareMessage, Sara had a career as a United States Air Force nurse with two deployments to Iraq.  She has master’s degrees in Nursing and Public Health. Apart from work, Sara enjoys tennis, hiking and home decorating.</p>
</div>

<div class="tab-pane fade" id="ivo-bio">
<h2 class=about>Ivo Santiago</h2>
<h3 class=title>Software Engineer</h3>
<p class=bio>Ivo is a front-end engineer who believes in the importance of a good fun environment to work. He has experience in JavaScript, HTML, CSS, Git, SASS, JQuery, AngularJS, Ionic and is always looking for new technologies to learn. He has previously worked with startups and Fortune 500 companies.</p>
</div>

</div><!--.tab-content-->
</div>

<div class=col-xs-7>

	<div class="row bio-row">
	<div class=col-xs-2><a href="#deepak-bio" data-toggle="tab"><%= image_tag("about-deepak-hero.jpg", class: "tab-bio-circle") %><p class=tab-bio-caption>Deepak</p></a></div>
	<div class=col-xs-2><a href="#cecilia-bio" data-toggle="tab"><%= image_tag("about-cecilia-hero.jpg", class: "tab-bio-circle") %><p class=tab-bio-caption>Cecilia</p></a></div>
	<div class=col-xs-2><a href="#daniel-bio" data-toggle="tab"><%= image_tag("about-daniel-hero.jpg", class: "tab-bio-circle") %><p class=tab-bio-caption>Daniel</p></a></div>
	<div class=col-xs-2><a href="#patricia-bio" data-toggle="tab"><%= image_tag("about-patricia-hero.jpg", class: "tab-bio-circle") %><p class=tab-bio-caption>Patricia</p></a></div>
	<div class=col-xs-2><a href="#bruno-bio" data-toggle="tab"><%= image_tag("about-bruno-hero.jpg", class: "tab-bio-circle") %><p class=tab-bio-caption>Bruno</p></a></div>
	<div class=col-xs-2><a href="#rosalinda-bio" data-toggle="tab"><%= image_tag("about-rosalinda-hero.jpg", class: "tab-bio-circle") %><p class=tab-bio-caption>Rosalinda</p></a></div>
	
	</div><!--.row-->

	<div class="row bio-row">
	<div class=col-xs-2><a href="#ronaldo-bio" data-toggle="tab"><%= image_tag("about-ronaldo-hero.jpg", class: "tab-bio-circle") %><p class=tab-bio-caption>Ronaldo</p></a></div>
	<div class=col-xs-2><a href="#aareet-bio" data-toggle="tab"><%= image_tag("about-aareet-hero.png", class: "tab-bio-circle") %><p class=tab-bio-caption>Aareet</p></a></div>
	<div class=col-xs-2><a href="#renan-bio" data-toggle="tab"><%= image_tag("about-renan-hero.jpg", class: "tab-bio-circle") %><p class=tab-bio-caption>Renan</p></a></div>
	<div class=col-xs-2><a href="#ana-bio" data-toggle="tab"><%= image_tag("about-ana-hero.jpg", class: "tab-bio-circle") %><p class=tab-bio-caption>Ana</p></a></div>
	<div class=col-xs-2><a href="#nicco-bio" data-toggle="tab"><%= image_tag("about-nicco-hero2.png", class: "tab-bio-circle") %><p class=tab-bio-caption>Nicco</p></a></div>
	<div class=col-xs-2><a href="#jillian-bio" data-toggle="tab"><%= image_tag("about-jillian-hero.jpg", class: "tab-bio-circle") %><p class=tab-bio-caption>Jillian</p></a></div>
	</div><!--.row-->
	
	<div class="row bio-row">
	<div class=col-xs-2><a href="#karen-bio" data-toggle="tab"><%= image_tag("karen-thumb.jpg", class: "tab-bio-circle") %><p class=tab-bio-caption>Karen</p></a></div>
	<div class=col-xs-2><a href="#sara-bio" data-toggle="tab"><%= image_tag("about-sara-hero.jpg", class: "tab-bio-circle") %><p class=tab-bio-caption>Sara</p></a></div>
	<div class=col-xs-2><a href="#ivo-bio" data-toggle="tab"><%= image_tag("about-ivo-hero.jpg", class: "tab-bio-circle") %><p class=tab-bio-caption>Ivo</p></a></div>
	</div><!--.row-->


</div> <!--.col-xs-7 -->

</div> <!--.row-->


<hr/>

<h1 class="hero-left"><strong>Customer Success</strong></h1>

<div class=row>

<div class=col-xs-5>
<div class=tab-content>

<div class="tab-pane active fade in" id="home">
<h2 class=about-description>The customer success team implements our technology at partner organizations to ensure that our customers, and their patients, have the best possible experience.</h2>
<p class=about-sub>Click on a picture to learn more about each team member.</p>
</div>

<div class="tab-pane fade" id="vineet-bio">
<h2 class=about>Vineet Singal</h2>
<h3 class=title>Chief Executive Officer, Co-Founder</h3>
<p class=bio>Vineet is honored to lead the most amazing team on the planet, and is passionate about seeing CareMessage's customers succeed in the process of creating a better, smarter healthcare system. Previously, he conducted and published peer-reviewed research in molecular biology and epidemiology at the Mount Sinai School of Medicine, the National Institutes of Health, and the Stanford School of Medicine. A Forbes '30 under 30' social entrepreneur, Vineet has served as a student representative on the Stanford Board of Trustees and the Stanford Medicine Community Council and graduated with University Distinction from Stanford.</p>
</div>

<div class="tab-pane fade" id="grace-bio">
<h2 class=about>Grace Myers</h2>
<h3 class=title>Director of Account Services</h3>
<p class=bio>Grace oversees the implementation and ongoing support of CareMessage's portfolio of existing and new partners and is passionate about helping our partner organizations and the patients they serve. She loves empowering health care providers with more efficient ways to serve their patient populations. Prior to joining CareMessage, Grace worked for a top management consulting firm and has experience helping diverse health care organizations adopt new technologies.  She graduated from UCLA with a BA in Business Economics.  Outside of her professional career, Grace has worked with a number of non-profit health education organizations, most notably supporting children with parents fighting cancer.</p>
</div>

<div class="tab-pane fade" id="ben-bio">
<h2 class=about>Ben Ferry</h2>
<h3 class=title>Manager, Finance and Administration</h3>
<p class=bio>Ben supports CareMessage's financial record keeping, day-to-day operations, and contributes to development and marketing efforts. Prior to joining CareMessage, Ben worked at a Fortune 500 company as a financial analyst and holds a BA in Finance from Hofstra University's Frank G. Zarb School of Business. He is excited to be joining such a passionate and hard working team at CareMessage and looks forward to supporting the growth of an innovative leader in the Social Enterprise industry.</p>
</div>

<div class="tab-pane fade" id="jessica-bio">
<h2 class=about>Jesse Stoneman</h2>
<h3 class=title>Account Manager</h3>
<p class=bio>Jesse enables healthcare organizations to use CareMessage to improve their patient health outcomes. She loves helping customers think through their unique challenges and how to best leverage CareMessage to address them. Prior to joining the CareMessage team, Jesse worked at a top management consulting firm, supporting high-impact global transformations for Fortune 500s and in the public sector. Jesse graduated with a BA in Politics and Spanish from Pomona College, where she also spent time working in a variety of HIV education, prevention, and advocacy roles at non-profit organizations.</p>
</div>

<div class="tab-pane fade" id="hannah-bio">
<h2 class=about>Hannah Rapp</h2>
<h3 class=title>Account Associate</h3>
<p class=bio>Hannah works directly with clinics and healthcare providers to explore new channels for better care. She is passionate about helping clients best address gaps in communication between the care team. Prior to joining CareMessage, Hannah worked at a Health IT media company, supporting the innovation and collaboration between digital health players. Hannah graduated with a BA in Medical Anthropology and Latin American Studies from Scripps College, where she also spent time working on improving health outcomes for vulnerable populations in Los Angeles and Valpariaso, Chile.</p>
</div>

</div><!--.tab-content-->
</div>

<div class=col-xs-7>

	<div class="row bio-row">
	<div class=col-xs-2><a href="#vineet-bio" data-toggle="tab"><%= image_tag("about-vineet-hero.jpg", class: "tab-bio-circle") %><p class=tab-bio-caption>Vineet</p></a></div>
	<div class=col-xs-2><a href="#grace-bio" data-toggle="tab"><%= image_tag("about-grace-hero.jpg", class: "tab-bio-circle") %><p class=tab-bio-caption>Grace</p></a></div>
	<div class=col-xs-2><a href="#ben-bio" data-toggle="tab"><%= image_tag("about-ben-hero.jpg", class: "tab-bio-circle") %><p class=tab-bio-caption>Ben</p></a></div>
	<div class=col-xs-2><a href="#jessica-bio" data-toggle="tab"><%= image_tag("about-jessica-hero.jpg", class: "tab-bio-circle") %><p class=tab-bio-caption>Jesse</p></a></div>
	<div class=col-xs-2><a href="#hannah-bio" data-toggle="tab"><%= image_tag("about-hannah-hero.jpg", class: "tab-bio-circle") %><p class=tab-bio-caption>Hannah</p></a></div>

	</div>
</div> <!--.col-xs-7 -->

</div> <!--.row-->

<hr/>

<h1 class="hero-left"><strong>Research and Data Science</strong></h1>

<div class=row>

<div class=col-xs-5>
<div class=tab-content>

<div class="tab-pane active fade in" id="home">
<h2 class=about-description>The research and data science team utilize their expertise in the fields of clinical medicine and epidemiology to evaluate CareMessage's impact.</h2>
<p class=about-sub>Click on a picture to learn more about each team member.</p>
</div>



<div class="tab-pane fade" id="greg-bio">
<h2 class=about>Greg Burrell, MD</h2>
<h3 class=title>Director of Research and Clinical Solutions</h3>
<p class=bio>Greg leads the clinical review and oversight of CareMessage's programs and works with the Scientific Advisory Board to produce high-quality data to help drive informed decisions about CareMessage's clinical products. He comes to the organization with a passion to educate and empower patients to make smarter healthcare decisions, as well as creating and implementing new technologies to improve healthcare outcomes. Greg is currently an Assistant Professor of Clinical Medicine at the University of California, San Francisco (UCSF). He received his bachelors degree from Northwestern, his medical degree from the Pritzker School of Medicine at the University of Chicago, and completed his internal medicine residency at UCSF.</p>
</div>



<div class="tab-pane fade" id="nina-bio">
<h2 class=about>Nina Parikh, MAT, MPH</h2>
<h3 class=title>Research Associate</h3>
<p class=bio>Nina helps support the design, development and implementation of research projects at CareMessage. Before joining CareMessage, she worked at the Stanford Prevention Research Center where she helped perform research on the retail availability and marketing of tobacco products in underserved communities.  She also worked as a high school biology teacher and program director of a college-prep program that served under-performing students in low-income high schools.  Nina is passionate about working to alleviate health disparities and earned a master’s degree in teaching from National Louis University and a master’s degree in public health from Washington University in St. Louis.</p>
</div>

</div><!--.tab-content-->
</div>

<div class=col-xs-7>

	<div class="row bio-row">
	<div class=col-xs-2><a href="#greg-bio" data-toggle="tab"><%= image_tag("about-greg-hero.jpg", class: "tab-bio-circle") %><p class=tab-bio-caption>Greg</p></a></div>
	<div class=col-xs-2><a href="#nina-bio" data-toggle="tab"><%= image_tag("about-nina-hero.jpg", class: "tab-bio-circle") %><p class=tab-bio-caption>Nina</p></a></div>


	</div>
</div> <!--.col-xs-7 -->

</div> <!--.row-->


<hr/>

<h1 class="hero-left"><strong>Board of Directors</strong></h1>
<div class=row>

<div class=col-xs-4>
<h3 class=bod-name>Wilfred Jaeger, MD, MBA</h3>
<h3 class=bod-title>Chairman, CareMessage</h3>
<h3 class=bod-title>Managing Partner, Three Arch Partners and Health Invest Equity Partners</h3>
<a data-toggle="collapse" href="#wilf-bio" class=read-bio>Read Bio</a>
 <div id="wilf-bio" class="collapse bio-collapse">
<p>Wilfred Jaeger, MD, MBA, is the Chairman of the CareMessage Board and has over 25 years of experience investing in healthcare companies. He is currently Managing Partner at Three Arch Partners and Health Invest Equity Partners. Collectively managing over $1 billion in capital, the funds are focused on investing in healthcare companies focusing on areas with significant unmet clinical or infrastructure needs. A former practicing clinician, Wilfred received his MD from the University of British Columbia and MBA from the Stanford Graduate School of Business.</p>
 </div>
</div>


<div class=col-xs-4>
<h3 class=bod-name>Harsh Patel, MBA</h3>
<h3 class=bod-title>Partner, Claremont Creek Ventures</h3>
<a data-toggle="collapse" href="#harsh-bio" class=read-bio>Read Bio</a>
 <div id="harsh-bio" class="collapse bio-collapse">
<p>Harsh Patel, MBA, is a Partner at Claremont Creek Ventures with over 20 years of experience building, operating and investing in technology growth companies. He&#8217;s been particularly focused on big data analytics and SaaS solutions applied to large markets in healthcare, energy, government, and retail. Previously, Harsh was General Partner at RRE Ventures and In-Q-Tel, the CIA&#8217;s venture capital arm, and has invested in technology companies including Palantir, Tendril, and Flipswap (now ERecyclingCorps). Harsh received his MBA from the Stanford Graduate School of Business and a B.S. in Engineering from the University of Illinois at Urbana-Champaign.</p>
 </div>
</div>

<div class=col-xs-4>
<h3 class=bod-name>William F. Doyle, MBA</h3>
<h3 class=bod-title>Executive Chairman, Novocure<br/>Managing Director, WFD Ventures LLC</h3>
<a data-toggle="collapse" href="#bill-bio" class=read-bio>Read Bio</a>
 <div id="bill-bio" class="collapse bio-collapse">
<p>Doyle is a member of Pershing Square Capital Management, L.P.’s Investment Team and a member of the Advisory Board of the Pershing Square Foundation. He is also the Executive Chairman of Novocure Ltd., a company commercializing a new therapeutic modality for solid tumors using low intensity electric fields. Previously Doyle served as an executive of Johnson & Johnson and as a management consultant with McKinsey & Company.​ ​Doyle is a graduate of MIT and Harvard Business School. He serves as a member of the Dean’s Advisory Board of Harvard Business School; Harvard Business School’s Healthcare Advisory Board; and the MIT Corporation’s Visiting Committee for Undergraduate Education.</p>
 </div>
</div>

</div>

<div class=row>

<div class=col-xs-4>
<h3 class=bod-name>Christy Chin, MBA</h3>
<h3 class=bod-title>Managing Director, Draper Richards Kaplan Foundation</h3>
<a data-toggle="collapse" href="#christy-bio" class=read-bio>Read Bio</a>
 <div id="christy-bio" class="collapse bio-collapse">
<p>Christy Chin is a managing director at the Draper Richards Kaplan Foundation (DRK), a venture philanthropy group focused on early-stage high-impact nonprofits. At DRK, Christy engages donors in new funds and supports DRK entrepreneurs. In addition to Care Message, she sits on the boards of Avanti, Blue Engine, Green City Force, Jacaranda Health, Students for Education Reform and Watsi. Before DRK, Christy worked in philanthropy at the William & Flora Hewlett and Skoll Foundations, as well as in venture capital at Bedrock Capital Partners and Norwest Venture Capital. She currently serves on the boards of Benetech, her children's PTA, and is an advisor to Ashoka U. Christy received her Master of Business Administration from the Harvard Business School and holds a Bachelor of Arts in History from Colgate University.</p>
 </div>
</div>

<div class=col-xs-4>
<h3 class=bod-name>Stuart Burden, MHS</h3>
<h3 class=bod-title>Philanthropy Advisor</h3>
<a data-toggle="collapse" href="#stuart-bio" class=read-bio>Read Bio</a>
 <div id="stuart-bio" class="collapse bio-collapse">
<p>Stuart Burden is a Philanthropy Advisor with more than 20 years of experience in grantmaking, corporate social responsibility, management consulting, and strategic communications. Stuart has worked with the several private and corporate foundations including, most recently, the S. D. Bechtel, Jr. Foundation where he served as Associate Director for Organizational Effectiveness. Prior to joining the Bechtel Foundation, he worked with the Monitor Institute, the Levi Strauss Foundation, the MacArthur Foundation, the Ford Foundation, and the New York Foundation. From April 2000 to January 2003, Burden was invited to serve on the Presidential Advisory Council on HIV/AIDS, crossing both the Clinton and Bush administrations. He earned his Bachelor’s degree from Stanford University and his Master’s degree from the Johns Hopkins School of Public Health.</p>
 </div>
</div>

<div class=col-xs-4>
<h3 class=bod-name>Vineet Singal</h3>
<h3 class=bod-title>CEO & Co-Founder, CareMessage </h3>
<a data-toggle="collapse" href="#brian-bio" class=read-bio>Read Bio</a>
 <div id="brian-bio" class="collapse bio-collapse">
<p>Vineet is the co-founder and CEO of CareMessage. Previously, he conducted and published peer-reviewed research in molecular biology and epidemiology at the Mount Sinai School of Medicine, the National Institutes of Health, and the Stanford School of Medicine. A Forbes '30 under 30' social entrepreneur, Vineet has served as a student representative on the Stanford Board of Trustees and the Stanford Medicine Community Council and graduated with University Distinction from Stanford.</p>
 </div>
</div>


</div>

<hr/>

<h1 class="hero-left"><strong>Scientific Advisory Board</strong></h1>
<div class=row>

<div class=col-xs-3>
<h3 class=bod-name>Adrian Aguilera, PhD</h3>
<h3 class=bod-title>Assistant Professor of Psychology, UC Berkeley School of Social Welfare</h3>
</div>

<div class=col-xs-3>
<h3 class=bod-name>Greg Burrell, MD</h3>
<h3 class=bod-title>Co-Chairman, Director of Research and Clinical Solutions, CareMessage</h3>
<h3 class=bod-title>Assistant Professor of Clinical Medicine, UCSF</h3>
</div>

<div class=col-xs-3>
<h3 class=bod-name>Mark Cullen, MD</h3>
<h3 class=bod-title>Chief, Division of General Medical Disciplines, Stanford Medical School</h3>
</div>

<div class=col-xs-3>
<h3 class=bod-name>Alan Glaseroff, MD</h3>
<h3 class=bod-title>Clinical Professor of Medicine, Stanford Medical School; Director, Stanford Coordinated Care</h3>

</div>

</div>

<div class=row>




<div class=col-xs-3>
<h3 class=bod-name>Wilfred Jaeger, MD, MBA</h3>
<h3 class=bod-title>Co-Chairman</h3>
<h3 class=bod-title>Managing Partner, Health Invest Equity Partners</h3>
</div>


<div class=col-xs-3>
<h3 class=bod-name>Arnold Milstein, MD, MPH</h3>
<h3 class=bod-title>Professor of Medicine at Stanford Medical School; Director, Stanford Clinical Excellence Research Center</h3>

</div>

<div class=col-xs-3>
<h3 class=bod-name>Russell S. Phillips, MD</h3>
<h3 class=bod-title>Director, Center for Primary Care; William Applebaum Professor of Medicine, Professor of Global Health and Social Medicine, Harvard Medical School</h3>
</div>

</div>






</div><!--.container-->



<div class="call-to-action-footer">
<div class=container>
<div class="call-to-action-caption">Supercharge your patient engagement. <a class="open-contact call-to-action contact">Request a Demo</a></div>
</div>
</div>
