---
body_id: welcome-about
---

<div data-stellar-background-ratio="0.2" id=about-hero class="dark solutions solutions-header">
<div class="container body-container">

<h1 class=hero style="margin-bottom: 0px;">Care. Better. Together.</h1>
<p class=hero-sub-3>CareMessage<sup>TM</sup>  is a not-for-profit organization based in San Francisco.<br/> Scroll down to learn more about who we are and what we value.</p>
</div>
</div>

<div id="bio-container" class=dark>
<div class="container" id=team>
<h3 class=subheader>The Team</h3>
<div class=row>

<div class=col-xs-5>
<div class=tab-content>

<div class="tab-pane active fade in" id="home">
<h2 class=about>We are Engineers. Physicians. Designers. Scientists. United under the mission of bringing mobile health to the underserved.</h2>
<p class=about-sub>Click on a picture to learn more about the team.</p>
</div>


<div class="tab-pane fade" id="vineet-bio">
<div class=bio-image-container><%= image_tag("vineet-bio.jpg", class: "tab-bio") %></div>
<h2 class=about>Vineet Singal</h2>
<h3 class=title>Chief Executive Officer<br/>Co-Founder</h3>
<p class=bio>Vineet helps set the strategic direction of the organization. Previously, he led a team at Stanford Business School that helped register over 115,000 people into the bone marrow registry using social media. He has also conducted and published peer-reviewed research in cancer biology, opthalmology, neurology and epidemiology at the Mount Sinai School of Medicine, the National Institutes of Health and the Stanford School of Medicine. A Forbes ’30 under 30’ social entrepreneur, Vineet has served as a student representative on the Stanford Board of Trustees and graduated with University Distinction from Stanford.</p>
</div>


<div class="tab-pane fade" id="manuel-bio">
<div class=bio-image-container><%= image_tag("manuel-bio.jpg", class: "tab-bio") %></div>
<h2 class=about>Manuel Rivera, MS</h2>
<h3 class=title>Chief Product Officer<br/>Co-Founder</h3>
<p class=bio>Manuel Rivera is a software engineer who leads all aspects of CareMessage's product development. He comes to the organization with a passion for health IT and expertise with real-time client-server communication, computer graphics, and interaction design. Manuel has an MS in Telecommunication Engineering from the Technical School of Madrid (UPM) with a specialty in Biomedical Engineering and has studied the social impact of technology at UC Berkeley.</p>
</div>


<div class="tab-pane fade" id="cecilia-bio">
<div class=bio-image-container><%= image_tag("cecilia-bio.jpg", class: "tab-bio") %></div>
<h2 class=about>Cecilia Corral</h2>
<h3 class=title>Director<br/>Product Management</h3>
<p class=bio>Cecilia leads program development efforts for CareMessage, and works with our partners to test and refine our products. She is proficient in the process of user-centered design pioneered by the Hasso Plattner Institute of Design (d.school) at Stanford University and graduated from Stanford with a degree in Product Design under the guidance of David Kelley, the Founder of IDEO and Stanford d.school. A native Spanish speaker who grew up in Mexico, Cecilia has a unique understanding of cultural and linguistic barriers within the Hispanic community.</p>
</div>


<div class="tab-pane fade" id="krista-bio">
<div class=bio-image-container><%= image_tag("krista-bio.jpg", class: "tab-bio") %></div>
<h2 class=about>Krista Burris</h2>
<h3 class=title>Vice President<br/>Partnerships</h3>
<p class=bio>Krista is a healthcare strategy enthusiast with interests in accountable care, payment reform, engagement strategies, and digital health innovations. Most recently Krista held positions with a Swiss-based digital health start-up where she focused on partnerships and go-to-market strategy for the US, and various roles at Aetna, most recently with their Accountable Care Solutions division. She has a strong focus around lifestyle and wellness promotion to make meaningful change in improving health outcomes. Krista holds a BA from UC Berkeley in Political Economy with a concentration on healthcare costs and resource allocation.</p>
</div>


<div class="tab-pane fade" id="james-bio">
<div class=bio-image-container><%= image_tag("james-bio.jpg", class: "tab-bio") %></div>
<h2 class=about>James Pan</h2>
<h3 class=title>User Interface Designer</h3>
<p class=bio>Hi, I'm James. Since I'm the creative guy, you'll notice that I'm the odd one out writing this in the first person. At CareMessage, I do all the creative stuff — user interfaces/experience, visual design, and almost all the photos you see here on the website (I hiked up Twin Peaks... in a suit to grab the picture you see above!). I believe that design has the power to change medicine and healthcare as it is essentially a study of how we communicate.</p>
<p class=bio>I enjoy photography, EDM, and in my spare time, I attend medical school at Stanford University. Fun fact, I'm blessed with the useless ability to make latte art.</p>
</p>
</div>

<div class="tab-pane fade" id="greg-bio">
<div class=bio-image-container><%= image_tag("greg-bio.jpg", class: "tab-bio") %></div>
<h2 class=about>Greg Burrell, MD</h2>
<h3 class=title>Product Manager</h3>
<p class=bio>Greg leads clinical review and oversight of CareMessage's programs and works closely with the CareMessage Clinical Review Board. He comes to the organization with a passion to educate and empower patients to make smarter healthcare decisions, as well as creating and implementing new technologies that improve healthcare outcomes. Greg is currently an Assistant Professor of Clinical Medicine at the University of California, San Francisco (UCSF). He received his bachelors degree from Northwestern, his medical degree from the Pritzker School of Medicine at the University of Chicago and completed his internal medicine residency at UCSF.</p>
</p>
</div>

<div class="tab-pane fade" id="patricia-bio">
<div class=bio-image-container><%= image_tag("patricia-bio.jpg", class: "tab-bio") %></div>
<h2 class=about>Patricia Sanchez, MPH</h2>
<h3 class=title>Product Manager</h3>
<p class=bio>Patricia helps develop many of CareMessage's programs, especially those focused on childhood and adolescence health issues. She comes to the organization with a passion to improve health literacy among low income populations. She has over 8 years of experience creating health education materials that are both culturally and low literacy appropriate.  She has worked with a Medi-Cal managed care population at the Contra Costa Health Plan, and holds a Masters in Public Health (MPH) from San Diego State University.</p>
</div>

<div class="tab-pane fade" id="nic-bio">
<div class=bio-image-container><%= image_tag("nic-bio.jpg", class: "tab-bio") %></div>
<h2 class=about>Nic Chapa</h2>
<h3 class=title>Mobile Designer</h3>
<p class=bio>Nicolas has worked as the Mobile Team Lead for the Stanford Persuasive Technology Lab. He manages the Mobile Messaging Testbed for the lab, in conjunction with Mobile Commons. Previously, he was the Mobile Community Manager for Plug and Play Tech Center, a start-up incubator. His research has led to work with startup organizations, Fortune 500 firms, leading strategy consultancies, mobile carriers, and global handset makers.  He was instrumental in refining the user experience for Juntos Finanzas, a company dedicated to helping unbanked Latinos save more money. Nicolas graduated with a degree in American Literature and Culture from UCLA.</p>
</div>

<div class="tab-pane fade" id="daniel-bio">
<div class=bio-image-container><%= image_tag("daniel-bio.jpg", class: "tab-bio") %></div>
<h2 class=about>Daniel Naves</h2>
<h3 class=title>Software Engineering Lead</h3>
<p class=bio>Daniel is a full stack software engineer with over 10 years of experience, and has expertise in Ruby on Rails, Javascript, HTML, CSS, Git, SASS, and HAML. He has previously built multiple web and mobile platforms for both startups and Fortune 500 companies, and loves working on important projects that can have a significant impact.</p>
</div>

<div class="tab-pane fade" id="aditya-bio">
<div class=bio-image-container><%= image_tag("aditya-bio.jpg", class: "tab-bio") %></div>
<h2 class=about>Aditya Mantha, MS</h2>
<h3 class=title>Data Scientist</h3>
<p class=bio>Aditya leads all aspects of data collection, analysis and reporting for CareMessage's partner projects. Passionate about infusing more data-driven strategies into healthcare technology infrastructures, Aditya previously worked on digital health projects with Johns Hopkins alums at Reify Health. Aditya holds a Bachelors of Arts in Anthropology from Stanford University, and a Masters of Science in Epidemiology from the Stanford University School of Medicine.</p>
</div>

<div class="tab-pane fade" id="bruno-bio">
<div class=bio-image-container><%= image_tag("bruno-bio.jpg", class: "tab-bio") %></div>
<h2 class=about>Bruno Campos</h2>
<h3 class=title>Software Engineer</h3>
<p class=bio>Bruno is a full stack software engineer with a specialized expertise in front-end web development. He has over a decade of experience, which includes expertise in HTML5, Ruby on Rails, Javascript, AngularJS, JQuery etc. </p>
</div>

</div><!--.tab-content-->
</div>

<div class=col-xs-7>

	<div class=row>
	<div class=col-xs-4><a href="#vineet-bio" data-toggle="tab"><div class=bio id=vineet ><p>Vineet</p></div></a></div>
	<div class=col-xs-4><a href="#manuel-bio" data-toggle="tab"><div class=bio id=manuel ><p>Manuel</p></div></a></div>
	<div class=col-xs-4><a href="#cecilia-bio" data-toggle="tab"><div class=bio id=cecilia><p>Cecilia</p></div></a></div>

	</div><!--.row-->

		<div class=row>
	<div class=col-xs-4><a href="#krista-bio" data-toggle="tab"><div class=bio id=krista><p>Krista</p></div></a></div>
	<div class=col-xs-4><a href="#greg-bio" data-toggle="tab"><div class=bio id=greg><p>Greg</p></div></a></div>
	<div class=col-xs-4><a href="#aditya-bio" data-toggle="tab"><div class=bio id=aditya ><p>Aditya</p></div></a></div>


	</div><!--.row-->

	<div class=row>
	<div class=col-xs-4><a href="#james-bio" data-toggle="tab"><div class=bio id=james ><p>James</p></div></a></div>
	<div class=col-xs-4><a href="#patricia-bio" data-toggle="tab"><div class=bio id=patricia><p>Patricia</p></div></a></div>
	<div class=col-xs-4><a href="#nic-bio" data-toggle="tab"><div class=bio id=nic><p>Nic</p></div></a></div>
	</div><!--.row-->

	<div class=row>
	<div class=col-xs-4><a href="#daniel-bio" data-toggle="tab"><div class=bio id=daniel><p>Daniel</p></div></a></div>
	<div class=col-xs-4><a href="#bruno-bio" data-toggle="tab"><div class=bio id=bruno><p>Bruno</p></div></a></div>

	</div><!--.row-->


</div> <!--.col-xs-7 -->

</div> <!--.row-->

<hr/>

<h3 class=subheader>Board of Directors</h3>

<div class=row>

<div class=col-xs-4>
<h3 class=bod-name>Wilfred Jaeger, MD, MBA</h3>
<h3 class=bod-title>Chairman, CareMessage</h3>
<h3 class=bod-title>Managing Partner, Three Arch Partners and Health Invest Equity Partners</h3>
<a data-toggle="collapse" href="#wilf-bio" class=read-bio>Read Bio<span class="glyphicon glyphicon-chevron-down"></span></a>
 <div id="wilf-bio" class="collapse bio-collapse">
<p>Wilfred Jaeger, MD, MBA, is the Chairman of the CareMessage Board and has over 25 years of experience investing in healthcare companies. He is currentls Managing Partner at Three Arch Partners and Health Invest Equity Partners. Collectively managing over $1 billion in capital, the funds are focused on investing in healthcare companies focusing on areas with significant unmet clinical or infrastructure needs. A former practicing clinician, Wilfred received his MD from the University of British Columbia and MBA from the Stanford Graduate School of Business.</p>
 </div>
</div>


<div class=col-xs-4>
<h3 class=bod-name>Harsh Patel, MBA</h3>
<h3 class=bod-title>Partner, Claremont Creek Ventures</h3>
<a data-toggle="collapse" href="#harsh-bio" class=read-bio>Read Bio<span class="glyphicon glyphicon-chevron-down"></span></a>
 <div id="harsh-bio" class="collapse bio-collapse">
<p>Harsh Patel, MBA, is a Partner at Claremont Creek Ventures with over 20 years of experience building, operating and investing in technology growth companies. He’s been particularly focused on big data analytics and SaaS solutions applied to large markets in healthcare, energy, government and retail. Previously, Harsh was General Partner at RRE Ventures and In-Q-Tel, the CIA’s venture capital arm, and has invested in technology companies including Palantir, Tendril and Flipswap (now ERecyclingCorps). Harsh received his MBA from the Stanford Graduate School of Business and a B.S. in Engineering from the University of Illinois at Urbana-Champaign.</p>
 </div>
</div>

<div class=col-xs-4>
<h3 class=bod-name>Brian Driscoll</h3>
<h3 class=bod-title>Director of Individual Philanthropy, Gensys Works</h3>
<a data-toggle="collapse" href="#brian-bio" class=read-bio>Read Bio<span class="glyphicon glyphicon-chevron-down"></span></a>
 <div id="brian-bio" class="collapse bio-collapse">
<p>Brian Driscoll is the Director of Individual Philanthropy at Genesys Works and has over 25 years of experience leading major fundraising initiatives for nonprofit organizations. Brian has led development efforts at nationally recognized organizations like Health Leads and Genesys Works, and has spearheaded fundraising campaigns for educational institutions including the Thacher School, Babson College and Regis College. Brian received his B.A. in English from Columbia University.</p>
 </div>
</div>

</div>

<div class=row>

<div class=col-xs-4>
<h3 class=bod-name>Stuart Burden, MHS</h3>
<h3 class=bod-title>Associate Director, S.D. Bechtel Jr. Foundation</h3>
<a data-toggle="collapse" href="#stuart-bio" class=read-bio>Read Bio<span class="glyphicon glyphicon-chevron-down"></span></a>
 <div id="stuart-bio" class="collapse bio-collapse">
<p>Stuart Burden, MHS, is the Associate Director for Effectiveness Fellow at the S.D. Bechtel Jr. Foundation, and has over 25 years of experience working with major foundations and philanthropic institutions. He previously served as a Senior Consultant for the Monitor Institute, the Director of Community Affairs for the Levi Strauss Foundation and as a Senior Program Officer for the John D. and Catherine T. MacArthur Foundation. Stuart received his B.S. in human biology from Stanford University and his Master of Health Sciences (MHS) degree from Johns Hopkins University.</p>
 </div>
</div>

<div class=col-xs-4>
<h3 class=bod-name>Sabrina Ross, JD</h3>
<h3 class=bod-title>Attorney, Ropes & Gray LLP</h3>
<a data-toggle="collapse" href="#sabrina-bio" class=read-bio>Read Bio<span class="glyphicon glyphicon-chevron-down"></span></a>
 <div id="sabrina-bio" class="collapse bio-collapse">
<p>Sabrina Ross, JD, is an attorney with Ropes & Gray LLP, specializing in a wide-range of Internet and information law matters involving privacy and data protection, information security, cloud computing, social media, locational privacy, e-commerce, and national security. Sabrina received her B.A. in English from Grinnell College and her J.D. from the UC Berkeley.</p>
 </div>
</div>

</div>

</div> <!--.container -->
</div> <!--.bio-container -->


<div data-stellar-background-ratio="0.2"  id=values-hero class="dark solutions solutions-header">
<div class="container body-container" id=values>

<h1 class=hero style="margin-bottom: 0px;">What drives us.</h1>
<p class=hero-sub-3>Purpose, Patient–Centered, Partnership, Privacy, and People.</p>
</div>
</div>

<div id="values-container" class=dark>
<div class="container">
<h3 class=subheader>Values</h3>

<div class=row>

<div class=col-xs-5>
<div class=tab-content>

<div class="tab-pane active fade in" id="home">
<h2 class=about> We believe that true care is achieved through meaningful relationships among patients, their caregivers and the healthcare institutions that support them.</h2>
<p class=about-sub>Click on a value to learn more.</p>
</div>


<div class="tab-pane fade" id="purpose-value">
<h2 class=about>Purpose</h2>
<p class=purpose-bio>We are driven to transform healthcare for disadvantaged populations and the organizations that serve them. Being nonprofit allows us to focus solely on serving our mission.</p>
</div>


<div class="tab-pane fade" id="patient-value">
<h2 class=about>Patient-Centered</h2>
<p class=purpose-bio>We believe that the needs of patients must always come first. With CareMessage, we hope to improve the capabilities of the institutions that support them.</p>
</div>


<div class="tab-pane fade" id="partnership-value">
<h2 class=about>Partnership</h2>
<p class=purpose-bio>We believe that true change requires building long term relationships. In this new era of healthcare, we feel excited to collaborate with our partners to help address their diverse challenges.</p>
</div>


<div class="tab-pane fade" id="privacy-value">
<h2 class=about>Privacy</h2>
<p class=purpose-bio>We remain committed to privacy and security of client health data. In addition to complying with the major privacy and security provisions of HIPAA and HITECH, we take several steps to augment the end-to-end security of protected health information. </p>
</div>

<div class="tab-pane fade" id="people-value">
<h2 class=about>People</h2>
<p class=purpose-bio> We are fiercely selective about our people. We value that indescribable sense of urgency and purpose above anything else... although we must say that we have an amazingly talented team.</p>
</div>



</div><!--.tab-content-->
</div>

<div class=col-xs-7>

	<div class=row>
		<div class=col-xs-4><a href="#purpose-value" data-toggle="tab"><div class=value-icon-container id=purpose><%= image_tag("value-purpose.png", class: "value-icon") %><p>Purpose</p></div></a></div>
	<div class=col-xs-4><a href="#patient-value" data-toggle="tab"><div class=value-icon-container id=patient><%= image_tag("value-patient.png", class: "value-icon") %><p>Patient Centric</p></div></a></div>
	<div class=col-xs-4><a href="#partnership-value" data-toggle="tab"><div class=value-icon-container id=partnership><%= image_tag("value-partnership.png", class: "value-icon") %><p>Partnership</p></div></a></div>

	</div><!--.row-->

		<div class=row>
	<div class=col-xs-4><a href="#privacy-value" data-toggle="tab"><div class=value-icon-container id=privacy><%= image_tag("value-privacy.png", class: "value-icon") %><p>Privacy</p></div></a></div>
			<div class=col-xs-4><a href="#people-value" data-toggle="tab"><div class=value-icon-container id=people><%= image_tag("value-people.png", class: "value-icon") %><p>People</p></div></a></div>

	</div><!--.row-->


</div> <!--.col-xs-7 -->

</div> <!--.row-->

</div>
</div>



