---
body_id: partners-hospitals
---

<div id=hospitals-clinics-container class="dark solutions solutions-header">
<div class="container body-container">

<h1 class=hero style="margin-bottom: 0px;">Hospitals</h1>
<h1 class=hero-grey>Streamline Your Workflow.</h1>
<p class=hero-sub-3>CareMessage<sup>TM</sup> enables hospitals to reduce operational costs, decrease readmissions and improve the patient and caregiver experience.</p>
</div>
</div>

<div class=solutions-body>
<div class="container dark">

<div class="row extra-space">
	<div class="col-xs-4">
	<%= image_tag("solutions-noshow.png", class: "hero-sub") %>
	<h3 class=hero>Reduce No-Shows</h2>
	<p class=solutions-caption-specific>Save time calling patients and reduce no-shows by using automated text and voice reminders. Collect RSVPs and save attendance to manage all of your upcoming appointments.</p>
	</div>

	<div class="col-xs-4">
	<%= image_tag("solutions-appts.png", class: "hero-sub") %>
	<h3 class=hero>Streamline Appointments</h2>
	<p class=solutions-caption-specific>Send automated pre-appointment address and directions. After the appointment, check-in with your patients regarding specialty referrals, laboratory results etc.</p>
	</div>

	<div class="col-xs-4">
	<%= image_tag("solutions-education.png", class: "hero-sub") %>
	<h3 class=hero>Rethink Patient Education</h2>
	<p class=solutions-caption-specific>Spend less time on chronic disease management for your outpatient clinics by using our automated, evidence-based <a>health coaching programs</a>.</p>
	</div>

</div> <!--.row-->

<div class="row extra-space">
	<div class="col-xs-4">
	<%= image_tag("solutions-outreach.png", class: "hero-sub") %>
	<h3 class=hero>Improve Followups</h2>
	<p class=solutions-caption-specific>Know how your patients are doing post-discharge through automated, regular check-ins that around medications, blood glucose etc. Receive notifications alerting you of adverse changes in your patients’ health status.</p>
	</div>

	<div class="col-xs-4">
	<%= image_tag("solutions-caregiver.png", class: "hero-sub") %>
	<h3 class=hero>Empower Caregivers</h2>
	<p class=solutions-caption-specific>Empower caregivers with the training they need to take better care of their loved ones. Our caregiver-specific programs are uniquely designed with the needs of older and younger caregivers in mind.</p>
	</div>

	<div class="col-xs-4">
	<%= image_tag("solutions-events.png", class: "hero-sub") %>
	<h3 class=hero>Manage Clinic Events</h2>
	<p class=solutions-caption-specific>Manage a membership list of ongoing health education workshops and other hospital events. Send out reminders for upcoming events to all participants, collect RSVPs and save attendance.</p>
	</div>

</div> <!--.row-->

<div class="row extra-space">
	<div class="col-xs-6 col-xs-offset-3">
	<%= image_tag("solutions-pcmh.png", class: "hero-sub") %>
	<h3 class=hero>Comply with Meaningful Use/PCMH standards</h2>
	<p class=solutions-caption-specific>Our technology and programs may potentially help your hospital comply with particular aspects of Meaningful Use Stage 2 and Patient Centered Medical Home (PCMH).</p>
	</div>
</div> <!-- .row -->




</div>
</div>