---
body_id: partners-payers
---

<div id=hospitals-clinics-container class="dark solutions solutions-header">
<div class="container body-container">

<h1 class=hero style="margin-bottom: 0px;">Payers</h1>
<h1 class=hero-grey>Revolutionize Member Engagement.</h1>
<p class=hero-sub-3>CareMessage<sup>TM</sup> enables payers to create meaningful conversations with their members around topics that are important to them.</p>
</div>
</div>

<div class=solutions-body>
<div class="container dark">

<div class="row extra-space">
	<div class="col-xs-4">
	<%= image_tag("solutions-connect.png", class: "hero-sub") %>
	<h3 class=hero>Connect</h2>
	<p class=solutions-caption-specific>Create automated, two-way text message conversations on any number of topics, allowing you to have a personal conversation with thousands of your members at once.</p>
	</div>

	<div class="col-xs-4">
	<%= image_tag("solutions-measure.png", class: "hero-sub") %>
	<h3 class=hero>Measure</h2>
	<p class=solutions-caption-specific>Seamlessly survey your members to collect and analyze relevant data, such as health risk assessments (HRAs) and risk-adjustment data.</p>
	</div>

	<div class="col-xs-4">
	<%= image_tag("solutions-education.png", class: "hero-sub") %>
	<h3 class=hero>Educate</h2>
	<p class=solutions-caption-specific>Leverage our evidence-based <a>health coaching programs</a> to incentivize healthy behaviors and proper disease self-management.</p>
	</div>

</div> <!--.row-->

<div class="row extra-space">
	<div class="col-xs-4">
	<%= image_tag("solutions-empower.png", class: "hero-sub") %>
	<h3 class=hero>Empower</h2>
	<p class=solutions-caption-specific>Offer your members free tools that can help them better self-manage their care, such as automated medication adherence and glucose tracking reminders.</p>
	</div>

	<div class="col-xs-4">
	<%= image_tag("solutions-caregiver.png", class: "hero-sub") %>
	<h3 class=hero>Engage</h2>
	<p class=solutions-caption-specific>Use our powerful analytics engine, enabling you to directly quantify member engagement. Optimize your outreach for important factors like frequency, timing, complexity, and tonality.</p>
	</div>

	<div class="col-xs-4">
	<%= image_tag("solutions-integrate.png", class: "hero-sub") %>
	<h3 class=hero>Integrate</h2>
	<p class=solutions-caption-specific>Diversify your communication capabilities by seamlessly integrating our messaging and content management capabilities into your existing technologies.</p>
	</div>

</div> <!--.row-->




</div>
</div>