---
body_id: partners-researches
---

<div id=researchers-header class="dark solutions solutions-header">
<div class="container body-container">

<h1 class=hero style="margin-bottom: 0px;">Researchers</h1>
<h1 class=hero-grey>Supercharge your research.</h1>
<p class=hero-sub-3>CareMessage<sup>TM</sup> enables research groups to utilize mobile technology in order to store, collect, and analyze data from their research subjects.</p>

</div>
</div>

<div class=solutions-body>
<div class="container dark">

<div class="row extra-space">

	<div class="col-xs-4">
	<%= image_tag("solutions-collectdata.png", class: "hero-sub") %>
	<h3 class=hero>Collect Data</h2>
	<p class=solutions-caption-specific>Seamlessly collect data from your research subjects with a tool they already have: mobile phones.</p>
	</div>

	<div class="col-xs-4">
	<%= image_tag("solutions-data.png", class: "hero-sub") %>
	<h3 class=hero>Analyze data</h2>
	<p class=solutions-caption-specific>Sort and quantify both metadata and self-reported data in a HIPAA-compliant database. Export to Excel with just one click.</p>
	</div>

	<div class="col-xs-4">
	<%= image_tag("solutions-storage.png", class: "hero-sub") %>
	<h3 class=hero>Store Data</h2>
	<p class=solutions-caption-specific>Manage your research subjects and personal health information (PHI) more effectively by storing data that matters to you. </p>
	</div>

</div> <!--.row-->

<div class="row extra-space">
	<div class="col-xs-4  col-xs-offset-2">
	<%= image_tag("solutions-plan.png", class: "hero-sub") %>
	<h3 class=hero>Test hypotheses</h2>
	<p class=solutions-caption-specific>Test new applications of mobile technology for specific populations, diseases, and meta-variables like frequency, timing and, tonality.</p>
	</div>

	<div class="col-xs-4">
	<%= image_tag("solutions-measure.png", class: "hero-sub") %>
	<h3 class=hero>Group Subjects</h2>
	<p class=solutions-caption-specific>Striate your research subjects making it easy to segment outreach and compare responses between groups.</p>
	</div>



</div> <!--.row-->







</div>
</div>