---
body_id: partners-clinics
---

<div data-stellar-background-ratio="0.2" id=clinics-header  class="dark solutions solutions-header">
<div class="container body-container">

<h1 class=hero style="margin-bottom: 0px;">Clinics</h1>
<h1 class=hero-grey>Multiply Your Capabilities.</h1>
<p class=hero-sub-3>CareMessage<sup>TM</sup> enables clinic staff to save time and reduce daily operational costs, while simultaneously creating an ongoing relationship with patients and caregivers outside the clinic setting.</p>
</div>
</div>

<div class=solutions-body id=clinics-body>
<div class="container dark">

<div class="row extra-space">
	<div class="col-xs-4">
	<%= image_tag("solutions-noshow.png", class: "hero-sub") %>
	<h3 class=hero>Reduce No-Shows</h2>
	<p class=solutions-caption-specific> Save time calling patients and reduce no-shows by using automated text and voice reminders. Collect RSVP's and record attendance. Automatically reassign late cancellations to new patients.</p>
	</div>

	<div class="col-xs-4">
	<%= image_tag("solutions-appts.png", class: "hero-sub") %>
	<h3 class=hero>Streamline Appointments</h2>
	<p class=solutions-caption-specific>Send automated pre-appointment address and directions. After the appointment, check-in with your patients regarding specialty referrals, laboratory results, etc.</p>
	</div>

	<div class="col-xs-4">
	<%= image_tag("solutions-education.png", class: "hero-sub") %>
	<h3 class=hero>Rethink Patient Education</h2>
	<p class=solutions-caption-specific>Spend less time on patient education and disease management by utilizing our automated, evidence-based <a href="/programs">health coaching programs</a>, including those designed to reach at-risk patients from minority populations.</p>
	</div>

</div> <!--.row-->

<div class="row extra-space">
	<div class="col-xs-4">
	<%= image_tag("solutions-data.png", class: "hero-sub") %>
	<h3 class=hero>Track What Matters</h2>
	<p class=solutions-caption-specific> Know how your patients are doing between visits through automated, regular check-ins regarding medications, blood glucose etc. Receive notifications alerting you of adverse changes in your patients&#8217; health status.</p>
	</div>

	<div class="col-xs-4">
	<%= image_tag("solutions-caregiver.png", class: "hero-sub") %>
	<h3 class=hero>Empower Caregivers</h2>
	<p class=solutions-caption-specific>Empower caregivers with the training they need to take better care of their loved ones.</p>
	</div>

	<div class="col-xs-4">
	<%= image_tag("solutions-events.png", class: "hero-sub") %>
	<h3 class=hero>Manage Clinic Events</h2>
	<p class=solutions-caption-specific>Manage membership lists for ongoing health education workshops and other clinic events. Send out reminders for upcoming events to all participants, collect RSVP's and save attendance.</p>
	</div>

</div> <!--.row-->

<div class="row extra-space">
	<div class="col-xs-6 col-xs-offset-3">
	<%= image_tag("solutions-pcmh.png", class: "hero-sub") %>
	<h3 class=hero>Comply with Meaningful Use/PCMH standards</h2>
	<p class=solutions-caption-specific> Our technology and programs may help your clinic comply with particular aspects of Meaningful Use Stage 2 and Patient Centered Medical Home (PCMH).</p>
	</div>
</div> <!-- .row -->




</div>
</div>

<div class="call-to-action-footer">
<div class=container>
<div class="call-to-action-caption">Supercharge your patient engagement. <a class="open-contact call-to-action contact">Request a Demo</a></div>
</div>
</div>
