---
body_id: partners-government
---


<div data-stellar-background-ratio="0.2" id=government-header class="dark solutions solutions-header">
<div class="container body-container">

<h1 class=hero style="margin-bottom: 0px;">Government</h1>
<h1 class=hero-grey>Strengthen Communities.</h1>
<p class=hero-sub-3>CareMessage<sup>TM</sup> provides city, county and state health agencies with patient engagement and outreach capabilities to improve community health outcomes.</p>

</div>
</div>

<div class=solutions-body id=government-body>
<div class="container dark">

<div class="row extra-space">
	<div class="col-xs-4">
	<%= image_tag("solutions-connect.png", class: "hero-sub") %>
	<h3 class=hero>Connect</h2>
	<p class=solutions-caption-specific>Create automated, two-way text message conversations on any number of topics, allowing you to have a personal conversation with thousands of your patients at once.</p>
	</div>

	<div class="col-xs-4">
	<%= image_tag("solutions-measure.png", class: "hero-sub") %>
	<h3 class=hero>Measure</h2>
	<p class=solutions-caption-specific>Our powerful analytics engine enables you to sort and quantify both metadata and self-reported data. All responses are stored in a HIPAA-compliant database and can easily be exported to Excel with just one click.</p>
	</div>

	<div class="col-xs-4">
	<%= image_tag("solutions-education.png", class: "hero-sub") %>
	<h3 class=hero>Educate</h2>
	<p class=solutions-caption-specific>Leverage our evidence-based <a href="/programs">health coaching programs</a> focused on helping your patients self-manage chronic conditions.</p>
	</div>

</div> <!--.row-->

<div class="row extra-space">
	<div class="col-xs-4 col-xs-offset-2">
	<%= image_tag("solutions-empower.png", class: "hero-sub") %>
	<h3 class=hero>Empower</h2>
	<p class=solutions-caption-specific>Offer your patients free tools that can help them better self-manage their care, such as automated medication adherence and glucose tracking reminders.</p>
	</div>

	<div class="col-xs-4">
	<%= image_tag("solutions-plan.png", class: "hero-sub") %>
	<h3 class=hero>Plan</h2>
	<p class=solutions-caption-specific>Simplify the process of planning and hosting community-wide events. Send automated reminders to all attendees with a click of a button, automatically collect RSVPs, and store attendance</p>
	</div>

</div> <!--.row-->





</div>
</div>