---
body_id: welcome-partners
---

<div data-stellar-background-ratio="0.3" id=solutions-hero class="dark solutions solutions-header">
<div class="container body-container">

<h1 class=hero style="margin-bottom: 0px;">We're on your team.</h1>
<p class=hero-sub-3>CareMessage<sup>TM</sup> is a revolutionary product that can work in many healthcare settings. See how CareMessage can serve your healthcare organization. </p>

</div>
</div>

<div id=solutions-body class="dark solutions">
<div class="container">

<div class="row extra-space">
	<a href="/solutions/clinics/"><div class="col-xs-4">
	<%= image_tag("solutions-clinic.png", class: "hero-sub") %>
	<h3 class=hero>Clinics <span class=chevron>&#8250;</span></h2>
	<p class=solutions-caption>Multiply your capabilities</p>
	</div></a>

	<a href="/solutions/hospitals/"><div class="col-xs-4">
	<%= image_tag("solutions-hospital.png", class: "hero-sub") %>
	<h3 class=hero>Hospitals <span class=chevron>&#8250;</span></h2>
	<p class=solutions-caption>Streamline your workflow</p>
	</div></a>

	<a href="/solutions/payers/"><div class="col-xs-4">
	<%= image_tag("solutions-payer.png", class: "hero-sub") %>
	<h3 class=hero>Payers <span class=chevron>&#8250;</span></h2>
	<p class=solutions-caption>Revolutionize Member Engagement</p>
	</div></a>

</div> <!--.row-->

<div class="row extra-space">

	<a href="/solutions/government/"><div class="col-xs-4">
	<%= image_tag("solutions-govt.png", class: "hero-sub") %>
	<h3 class=hero>Government <span class=chevron>&#8250;</span></h2>
	<p class=solutions-caption>Strengthen communities</p>
	</div></a>

	<a href="/solutions/researchers/"><div class="col-xs-4">
	<%= image_tag("solutions-research.png", class: "hero-sub") %>
	<h3 class=hero>Researchers <span class=chevron>&#8250;</span></h2>
	<p class=solutions-caption>Supercharge your research</p>
	</div></a>

	<a href="/solutions/organizers/"><div class="col-xs-4">
	<%= image_tag("solutions-advocate.png", class: "hero-sub") %>
	<h3 class=hero>Organizers <span class=chevron>&#8250;</span></h2>
	<p class=solutions-caption>Improving Lives Just Got Easier</p>
	</div></a>

</div> <!--.row-->

</div>
</div> <!--.solutions-hero-->


<div class="call-to-action-footer">
<div class=container>
<div class="call-to-action-caption">Supercharge your patient engagement. <a class="open-contact call-to-action contact">Request a Demo</a></div>
</div>
</div>
