---
body_id: partners-organizers
---

<div data-stellar-background-ratio="0.2" id=organizers-header class="dark solutions solutions-header">
<div class="container body-container">

<h1 class=hero style="margin-bottom: 0px;">Organizers</h1>
<h1 class=hero-grey>Improving Lives Just Got Easier.</h1>
<p class=hero-sub-3>CareMessage<sup>TM</sup> empowers community based programs and advocacy organizations to use mobile technology to improve member engagement and health outcomes.</p>

</div>
</div>

<div class=solutions-body id=organizers-body>
<div class="container dark">

<div class="row extra-space">
	<div class="col-xs-6">
	<%= image_tag("solutions-noshow.png", class: "hero-sub") %>
	<h3 class=hero>Remind</h2>
	<p class=solutions-caption-specific>Improve adherence by sending out automated reminders with the click of a button. Automatically collect and analyze responses.</p>
	</div>

	<div class="col-xs-6">
	<%= image_tag("solutions-storage.png", class: "hero-sub") %>
	<h3 class=hero>Store Data</h2>
	<p class=solutions-caption-specific>Manage your research subjects and personal health information (PHI) more effectively by storing data that matters to you. </p>
	</div>

</div> <!--.row-->

<div class="row extra-space">
	<div class="col-xs-6">
	<%= image_tag("solutions-empower.png", class: "hero-sub") %>
	<h3 class=hero>Empower</h2>
	<p class=solutions-caption-specific>Offer your patients free tools that can help them better self-manage their care, such as automated medication adherence and glucose tracking reminders.</p>
	</div>

	<div class="col-xs-6">
	<%= image_tag("solutions-measure.png", class: "hero-sub") %>
	<h3 class=hero>Measure</h2>
	<p class=solutions-caption-specific>Our powerful analytics engine enables you to sort and quantify both metadata and self-reported data. All responses are stored in a HIPAA-compliant database and can easily be exported to Excel with just one click.</p>
	</div>


</div> <!--.row-->







</div>
</div>