<!DOCTYPE html>
<html>
  <head>
    <title>CareMessage</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
    <link rel="stylesheet" href="/stylesheet/application.css">
    <script src="//use.typekit.net/cpt8vwp.js"></script>
    <script src="/javascript/typekit.js"></script>

    <!--[if lt IE 10]>
      <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <link rel="stylesheet" type="text/css" href="/stylesheet/old_ie.css">
    <![endif]-->
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-47358249-1']);
      _gaq.push(['_setDomainName', 'caremessage.org']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body id="<%= @item[:body_id] %>">

    <nav class="menu-overlay dark large-overlay">
      <h1 class="nav-hero">Menu <span class="close-menu x-icon">&times;</span></h1>
      <ul class="main">
        <li><a class="navigation close-menu" href="http://caremessage.org/">Home</a></li>
        <li><a class="toggle" data-toggle="collapse" href="#product-collapse">Product</a></li>
        <div id="product-collapse" class="panel-collapse collapse">
          <ul class=sub>
            <li><a class="navigation close-menu" href="/platform">Platform</a></li>
            <li><a class="navigation close-menu" href="/programs">Programs</a></li>
          </ul>
        </div>
        <li><a class="toggle" data-toggle="collapse" href="#partners-collapse">Partners</a></li>
        <div id="partners-collapse" class="panel-collapse collapse">
          <ul class="sub">
            <li><a class="navigation close-menu" href="/partners/">Overview</a></li>
            <li><a class="navigation close-menu" href="/partners/clinics/">Clinics</a></li>
            <li><a class="navigation close-menu" href="/partners/hospitals/">Hospitals</a></li>
            <li><a class="navigation close-menu" href="/partners/payers/">Payers</a></li>
            <li><a class="navigation close-menu" href="/partners/government/">Government</a></li>
            <li><a class="navigation close-menu" href="/partners/researchers/">Researchers</a></li>
            <li><a class="navigation close-menu" href="/partners/organizers/">Organizers</a></li>
          </ul>
        </div>
        <li><a class="navigation close-menu" href="/blog">Blog</a></li>
        <li><a class="navigation close-menu" href="/about">About</a></li>
      </ul>
    </nav>

    <nav class="contact-overlay dark large-overlay">
      <h1 class=nav-hero>Contact Us <span class="close-menu x-icon">&times;</span></h1>
      <form id="form2" name="form2" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
        action="https://caremessage.wufoo.com/forms/mklt92r0mpe0r7/#public">
        <input class="field text medium" id="Field1" maxlength="255" name="Field1" onkeyup="" placeholder="First Name" required="" tabindex="1" type="text" value="">
        <input class="field text medium" id="Field2" maxlength="255" name="Field2" onkeyup="" placeholder="Last Name" required="" tabindex="2" type="text" value="">
        <input class="field text medium" id="Field3" maxlength="255" name="Field3" onkeyup="" placeholder="Organization" required="" tabindex="3" type="text" value="">
        <input class="field text medium" id="Field4" maxlength="255" name="Field4" placeholder="E-mail Address" spellcheck="false" tabindex="4" type="email" value=""> <input class="field text medium" id="Field5" maxlength="255" name="Field5" placeholder="Phone Number" tabindex="5" type="tel" value="">
        <textarea class="field textarea medium" id="Field7" name="Field7" onkeyup="" placeholder="Your Message" rows="4" spellcheck="true" tabindex="6"></textarea>
        <input class="submit" id="saveForm" name="saveForm" type="submit" value="Submit"> <input type="hidden" id="idstamp" name="idstamp" value="BiPtiPH8BV9A4CIhwnGFr170tQy2uoD+J8IyGMmn/jU=" />
      </form>
    </nav>

    <div class="master">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top primary-nav" role="navigation">
        <div class="container navbar-container">
          <div class="navbar-collapse collapse" id="contact-form-toggle">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="open-contact"><span class="glyphicon glyphicon-send"></span></a></li>
            </ul>
          </div><!--/.nav-collapse -->

          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
           <!--<a class="navbar-brand" href="#">caremessage</a>-->
           <%= image_tag("logo.png", class: "logo-main") %>
          </div>

          <div class="navbar-collapse collapse" id="menu-toggle">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="open-menu"><span class="glyphicon glyphicon-th-list"></span></a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
      <!--End Navbar-->

      <!-- Fixed navbar (secondary) -->
      <div class="navbar navbar-default navbar-fixed-top secondary-nav secondary-hidden" role="navigation">
        <div class="container navbar-container">
          <div class="navbar-collapse collapse" id="contact-form-toggle">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="open-contact"><span class="glyphicon glyphicon-send"></span></a></li>
            </ul>
          </div><!--/.nav-collapse -->

          <div class="navbar-header">
            <!--<a class="navbar-brand" href="#">caremessage</a>-->
           <%= image_tag("logo-dark.png", class: "logo-main") %>
          </div>

          <div class="navbar-collapse collapse" id=menu-toggle>
            <ul class="nav navbar-nav navbar-right">
              <li><a class="open-menu"><span class="glyphicon glyphicon-th-list"></span></a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
      <!--End Navbar (secondary) -->

      <%= yield %>

      <footer>
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <nav class="footer-nav">
                <ul class="col-xs-3 col-sm-2 col-md-2 ul-product">
                  <li class="footer-nav-heading">Product</li>
                  <li><a href="/platform/">Platform</a></li>
                  <li><a href="/programs/">Programs</a></li>
                  <li><a href="/mobile/">Why Mobile?</a></li>
                </ul>

                <ul class="col-xs-3 col-sm-2 col-md-2 ul-partners">
                  <li class="footer-nav-heading">Partners</li>
                  <li><a href="/partners/clinics/">Clinics</a></li>
                  <li><a href="/partners/hospitals/">Hospitals</a></li>
                  <li><a href="/partners/payers/">Payers</a></li>
                  <li><a href="/partners/government/">Government</a></li>
                  <li><a href="/partners/researchers/">Researchers</a></li>
                  <li><a href="/partners/organizers/">Organizers</a></li>
                </ul>

                <ul class="col-xs-3 col-sm-2 col-md-2 ul-about">
                  <li class="footer-nav-heading">About</li>
                  <li><a href="/about#team">Team</a></li>
                  <li><a href="/about#values">Values</a></li>
                  <li><a href="/blog/">Blog</a></li>
                  <li><a href="https://app.caremessage.org/terms_of_use/" target=_blank>Terms of Use</a></li>
                  <li><a href="https://app.caremessage.org/privacy_policy/" target=_blank>Privacy Policy</a></li>
                </ul>
              </nav>
            </div>
          </div> <!-- .row -->

          <hr/>

          &copy; 2014 caremessage
          <div class="social-icons-container">
            <a href="http://caremessage.tumblr.com/rss/" target="_blank"><%= image_tag("rss.png", class: "social-icon") %></a><a href="http://facebook.com/caremessage/" target="_blank"><%= image_tag("fb-icon.png", class: "social-icon") %></a> <a href="http://twitter.com/caremessage/" target="_blank"><%= image_tag("tw-icon.png", class: "social-icon") %></a>
          </div>
        </div>
      </footer>

    </div> <!--.master-->
    <script type="text/javascript">
      // Add a script element as a child of the body
      function downloadJSAtOnload() {
      var element = document.createElement("script");
      element.src = "/javascript/all.js";
      document.body.appendChild(element);
      }

      // Check for browser support of event handling capability
      if (window.addEventListener)
      window.addEventListener("load", downloadJSAtOnload, false);
      else if (window.attachEvent)
      window.attachEvent("onload", downloadJSAtOnload);
      else window.onload = downloadJSAtOnload;
    </script>
  </body>
</html>